{% extends "base.html" %}

{% block meta %}<meta charset="utf-8">{% endblock %}

{% block title %}ruru-edit profile{% endblock %}

{% block link %}
	<style>
	body
	{
		text-align:center;
	}
	</style>
{% endblock %}

{% block body %}
 <br><br><br>
 <h1>Ruru's Club - Edit Profile</h1>
	<br>
    <form enctype="multipart/form-data" name="input" action="editprofile" method="post">
		<!--Username: <br><input type="text" name="username"> <br><br>-->
		<!--First Name:<br><input type="text" name="firstname"> <br><br>-->
		<!--Last Name:<br><input type="text" name="lastname"> <br><br>-->
		<!--Password: <br><input type="text" name="password"> <br><br>-->
		<!--Confirm Password: <br> <input type="text" name="confirmpassword"> <br><br>-->

		{% for field in form.visible_fields %}
			{% if field.errors %}
				{{ field.errors}}
				<div class="form-has-error">
			{% else %}
				<div class="form-normal">
			{% endif %}
				<label >{{ field.label }}: {{ field }}</label><br><br>
				</div>
		{% endfor %}



		<input type="submit" value="Register^^" style = "border-radius:20px;">

		{% csrf_token %}
	</form>
	<br><br>
	<p> got an account already?   <a href= "{%url 'login'%}" target="_blank"> log in </a> </p>

{% endblock %}