{% extends "base.html" %}

{% block meta %}<meta charset="utf-8">{% endblock %}

{% block title %}ruru-login{% endblock %}

{% block link %}
	<style>
	body
	{
		text-align:center;
	}
	</style>
{% endblock %}

{% block body %}
<br><br><br>
 <h1>Ruru's club</h1>
	<br>
    <form name="input" action="login" method="post">
		Username:<br> <input type="text" name="username"> <br><br>
		Password: <br> <input type="text" name="password"> <br><br>
		<input type="submit" value="Log in">
		{% csrf_token %}
	</form>
	<br><br>
	<p> new user?    <a href="register" target="_blank"> Register NOW! </a> </p>
{% endblock %}
